


@media  (max-width: 1100px) and (min-width: 600px){
    
    #content-box {
        height: 750px;
    }

    /* navigation bar */
    #navbar {
        padding-right: 15px;
        padding-right: 15px;
    }

    #navbar-logo {
        padding-right: 30px;
    }

    #navbar-list span:nth-child(1) {
        margin-left: 300px;
    }

    #navbar-list span {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* details of body content */
    #content-details span {
        top: 40px;
        line-height: 1.0em;
        left: 50px;
    }

    #content-details p {
        top: 35px;
        left: 50px;
        padding-top: 10px;
    }

    #content-photos {
        top: 300px;
        right: 80px;
    }

    #content-photos img:nth-child(2) {
        display: none;
    }

    #content-photos img {
        height: 325px;
        width: 400px;
    }

    /* footer styles */
    #footer a:nth-child(1) {
        margin-left: 20px;
        
    }

}