/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
    color: rgba(184, 177, 177, 0.753);
}

body {
    overflow: hidden;
    background-color: grey;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#content-box {
    width: 90%;
	height: 80%;
	background-color: #3B3B3B;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

/* navigation styles */
#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(184, 177, 177, 0.753);
}

#navbar-logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    padding-right: 50px;
    display: inline-block;
}

#navbar-info {
    display: inline-block;
}

#navbar-info a:hover {
    border-bottom: 3px solid white;
}

#navbar-info a{
    padding-bottom: 10px;
}

#navbar-list {
    display: inline-block;
}

#navbar-list span:nth-child(1) {
    margin-left: 650px;
}

#navbar-list span {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#navbar-list span:hover {
    border-bottom: 3px solid white;
}

#navbar-list span i {
    font-size: 20px;
}

/* details of the body content */

#content-details span {
    color: white;
    position: relative;
    top: 100px;
    left: 100px;
    font-size:65px;
    font-family: 'Mukta', sans-serif;
    z-index: 3;
}

#content-details p {
    color: rgb(255, 196, 0);
    position: relative;
    top: 125px;
    left: 100px;
}

#content-photos {
    position: absolute;
    /* background-color: red; */
    top: 90px;
    right: 10px;
}

#content-photos img {
    z-index: 1;
    overflow: hidden;
    border-radius: 10%;
    height: 400px;
    width: 300px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

/* footer  */
#footer {
    height: 75px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px;
}

#footer a {
    margin-left: 20px;
    margin-right: 20px;
}



#navigation{
    display: inline-block;
    float: right;
}

#navigation a i {
    font-size: 20px;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#navigation a i:hover, #footer a i:hover {
    color: rgb(255, 196, 0);
}

